<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/syllabus">Syllabus</a></li>
<li><a href="/lecture-notes">Lecture Notes</a></li>
<li><a href="/studymaterials">Study Materials</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:avccamposano@gmail.com">email</a></li>
   <li><a href="https://github.com/phys1235">github.com/phys1235</a></li>
   </ul>
  </footer>
  </body>

</html>
